<div class="row">
  <div class="col-xs-6 col-xs-offset-1">
    <div>
      Choose brand: <select name="brands"></select>
    </div>
    <br>
    <div>
      Choose device: <select name="devices"></select>
    </div>
  </div>

  <div class="col-xs-5">
    <form action="/search" id='search-form'>
      <input type="text" name='q' placeholder="search"></input>
      <input type="submit" value="Search">
    </form>
  </div>
<div>

<div class="row">
  <div class="col-xs-6 col-xs-offset-1">
    <h3>Current device</h3>
    <div id="current_device"></div>
  </div>
  <div class="col-xs-3">
    <h3>Search results</h3>
    <div id="search-results"></div>
  </div>
</div>
