<!DOCTYPE html>
<html>
  <head>
    <title>Scraperapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js' %>
  </head>

  <body>
    <div class="container-fluid" style="padding-top: 20px;">
      <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
